{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "class-methods-use-this": ["off", { "exceptMethods": ["render"] }],
    "eol-last": "off",
    "no-trailing-spaces": "off",
    "arrow-body-style": "warn",
    "eqeqeq": "warn",
    "import/prefer-default-export": "warn",
    "operator-assignment": "off",
    "prefer-const": "off",
    "global-require": "warn",
    "prefer-template": "warn",
    "no-undef": "warn",
    "max-len": "warn",
    "no-param-reassign": "warn",
    "dot-notation": "warn",
    "consistent-return": "warn"
  },
  "extends": ["airbnb-base"],
  "env": {
    "browser": true
  }
}
