.post-index-number {
  min-width: 22px;
}

.post-article, .post-article:hover, .post-article:focus{
  text-decoration: none;
}

.post-article, .post-article:hover, .post-article:focus {
  color: #0f1e2c;
}

.post-article:visited {
  color: #828282;
}

.post-author, .post-author:hover, .post-author:visited {
  font-size: 0.667rem;
}

.post-index-number, .post-article {
  font-size: 0.833rem;
}

.post-author, .post-index-number, .post-author:hover, .post-author:visited {
  color: #828282;
}

.post-upvote {
  max-width: 11px;
}

.post-lower-block-text {
  font-size: 0.583rem;
  margin-left: 4.5em;
}

.post-lower-author, .post-lower-block-text, .post-lower-author:hover, .time-link, .time-link:hover, .comments-links, .comments-links:hover {
  color: #9b9ba4;
}
