.hacker-news-name {
  font-weight: 900;
  font-size: 0.875rem;
}
.navigation-bar {
  background: #fb693f;
}
.hacker-news-logo {
  border: 1px solid #fff;
}

.navigation__tabs p {
  font-size: 0.8333rem;
}
